# dependencies
/node_modules
/.pnp
.pnp.js
pnpm-lock.yaml

# testing
/coverage

# vite
vite-env.d.ts
vite.config.ts

# build
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.*

# vercel
.vercel

# changelog
CHANGELOG.md

# miscellaneous
.DS_Store
*.pem

